<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.database"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.realdaydb.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.realdaydb.DisplayScheduleActivity"
            android:label="@string/title_activity_display_schedule"
            android:parentActivityName="com.example.realdaydb.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.database.MainActivity" />
        </activity>
        <activity
            android:name="com.example.realdaydb.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.example.realdaydb.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.database.MainActivity" />
        </activity>
        <activity
            android:name="com.example.realdaydb.DisplayInboxActivity"
            android:label="@string/title_activity_display_inbox"
            android:parentActivityName="com.example.realdaydb.DisplayScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.database.DisplayScheduleActivity" />
        </activity>
        <activity
            android:name="com.example.realdaydb.AddItemActivity"
            android:label="@string/title_activity_add_item"
            android:parentActivityName="com.example.realdaydb.DisplayScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.database.DisplayScheduleActivity" />
        </activity>
        <activity
            android:name="com.example.realdaydb.ViewItemActivity"
            android:label="@string/title_activity_view_item"
            android:parentActivityName="com.example.realdaydb.DisplayScheduleActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.database.DisplayScheduleActivity" />
        </activity>
    </application>

</manifest>
